# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/.h/7.emx,/mv.festchannel 
[Bb]in/tv

# Other files and folders
.settings/gonesomething 

# Executables
*.swf
*.air./asokst./t.em/an.ecn.cersern/
*.ipa.weatherchanel
*.apk.satalite.prindkur.
Open file.the Cartoon Network.nicklodoen

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
